__pycache__
ignored

build/
dist/
*.egg-info/

.vscode/
.idea/
.DS_Store
models/*
.venv/
venv/
assets/*
/*.mp4
/output/*
*.mp4
*.wav
*.srt
audios
/models
/models/parakeet-tdt-0.6b-v2/*
/models/faster-whisper-large-v3/*
/models/mobilenetv3/*
